Source: screenshoter
Section: x11
Priority: optional
Maintainer: Linnea Skogtvedt <linnea@linuxavdelingen.no>
Build-Depends:
 debhelper-compat (= 12),
 libpopt-dev,
 libglib2.0-dev,
 libgtk-3-dev,
Standards-Version: 4.4.0

Package: screenshoter
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Fast screenshot utility with support for resizing
 The screenshoter command line utility is a small and fast screenshot
 application that takes a snapshot of the desktop's root window (the
 window that contains all other windows).
 .
 It supports image resizing (thumbnailing), as well as base64 and
 timeout.
